#container, #fabric-ui
{
  margin: 20px;
  float: left;
}

.fabric-ui-tools .button, .fabric-ui-actions .button
{
  display: block;
}

#container canvas
{
  border: 1px solid #dedede;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.canvas_container { margin: 0 auto; position: relative; float: left; }

